/* font family from google */
/* shared style */
* {
    font-family: 'Work Sans', sans-serif;
}

/* nav */
header {
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 230px;
}

nav {
    display: flex;
    justify-content: space-between;
}

.text-design-share {
    color: #131313;
    font-size: 3rem;
    font-weight: 600;
}

nav ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 40px;
    font-weight: 500;
    font-size: 1rem;
}

nav li a {
    text-decoration: none;
    color: #424242;
}

/* banner */
.banner-content {
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
}

.banner-title {
    color: #131313;
    font-weight: 700;
    font-size: 4rem;
}

.banner-description {
    color: #727272;
    font-size: 1rem;
}

.btn-primary {
    padding: 15px 25px;
    border: none;
    border-radius: 5px;
    color: #FFF;
    background-color: #FF900E;
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 50px;
    cursor: pointer;
}

.img-in-banner {
    width: 100%;
}



/* features style */
/* main section */
main {
    max-width: 1440px;
    margin: 0px auto;
    margin-top: 50px;
}

.teams {
    display: flex;
    align-items: center;
    padding-left: 70px;
}

.pictures-of-team-members {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;

}

.features-name {
    justify-content: right;
    padding-left: 57px;
}

#list {
    font-weight: 500;
    color: #727272;
}

.headline {
    font-size: 2.4rem;
}

.feat {
    color: #FF900E;
    font-weight: 700;
}

.design {
    font-size: 2rem;
}

/* information style */

.features-head {
    color: #131313;
    font-size: 1.2rem;
    font-weight: 600;
}

.features-explain {
    color: #727272;
    font-weight: 400;
    font-size: 0.9rem;
}

.information {
    display: flex;
    margin: 100px;
    gap: 250px;
}

.information .text-design-share {
    border-left: 5px solid #FF900E;
    padding-left: 20px;
}

.years {
    background-color: #FF900E;
    text-align: center;
    color: #FFF;
    padding: 10px;
    border-radius: 5px;
    font-size: 1rem;
    position: relative;
   bottom: 60px;
   height: 100px;
   width: 150px;
  right: 60px;
}

.features-content .card-style {
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    padding: 30px;
    margin-bottom: 20px;
}

/* some facts */
.card-container {
    display: flex;
    justify-content: space-around;
}

.card-container .card {
    border-radius: 8px;
    border: 1px solid #FF900E;
    text-align: center;
    padding: 30px 30px;
    height: 170px;
    width: 170px;

}

.card-title {
    color: #727272;
    font-size: 1.2rem;
    font-weight: 600;
    margin-top: 5px;
}

.card-container .container-stats {
    font-size: 2.7rem;
    font-weight: 500;
    color: #424242;
    margin-top: 17px;
    margin-bottom: 17px;
}

/* sponsors */
.sponsors {

    text-align: center;
}

.sponsors-image {
    justify-content: space-evenly;
    display: flex;
    margin-top: 50px;
    gap: 40px;
    align-items: center;
}

.sponsors-image img {
    width: 150px;
}
.card img{
    width: 100%;
    margin-left: 0;
}
.footeer{
    background:#FFF4E7 ;
    border: 1px solid  #FFF4E7 ;
    border-radius: 5px;
    color: #424242;
    text-align: center;
  margin: 65px 135px 0px 135px;
}


/* responsive media query styles */
@media screen and (max-width:576px) {

    header,
    .card-container ,.features-content .card-style {
        padding: 20px;
    }

    nav,
    .teams,
    .card-container,
    .sponsors-image ,
    .information {
        flex-direction: column;
    }

    .pictures-of-team-members {
        grid-template-columns: 1fr
    }

    .card-container {
        gap: 20px;
    }

    .sponsors-image {
        margin-top: 20px;
    }
}

/* mobile or medium devices */
@media screen and (min-width:576px) and (max-width:992px) {
    header {
        padding: 20px;
    }

    nav,
    .teams,
    .sponsors-image {
        flex-direction: column;
    }

    .features-name {
        padding-left: 57px;
    }

}